<html>
<head>
    <title>Inserir XML no PostgreSQL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  />
    <script type="text/javascript" ></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<body>
    <div class="container">

        <div class="dropzone" style="margin-top: 50px;">
            <div class="dz-message needsclick">
                <h1>Arraste a nota fiscal em formato XML ou clique</h1>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $(".dropzone").dropzone({
          url: '/upload',
          width: 300,
          height: 300,
          progressBarWidth: '100%',
          maxFileSize: '20MB'
        })
    });
    </script>
 </body>
</html>